{% extends "../../imager/templates/home.html" %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'imager_user/profile.css' %}" />
{% endblock %}

{% block title %}Profile: {{user}}{% endblock %}

{% block body %}
    {% if user.profile.picture %}
        <div id="profilePicture" style="background-image: url({{user.profile.picture.url}})">
        </div>
    {% else %}
        <div id="profilePicture" style="background-image: url({% static 'imager_user/man.png' %})">
        </div>
    {% endif %}
    <div id="profileInfo">
        <h3>Profile Info</h3>
        <ul>
            <li id="username">{{user}}<span class="privacy">{{user.profile.name_privacy}}</span></li>
            <li id="email">{{user.email}}<span class="privacy">{{user.profile.email_privacy}}</span></li>
            <li id="phone_number">{{user.profile.phone_number}}<span class="privacy">{{user.profile.phone_privacy}}</span></li>
            <li></li>
            <li></li>
        </ul>
    </div>
{% endblock %}

