{% extends "../../imager/templates/home.html" %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'imager_user/profile.css' %}" />
{% endblock %}

{% block title %}Profile: {{user}}{% endblock %}

{% block body %}
    <h3>{{user}}'s Profile</h3>
    {% if user.profile.picture %}
        <div id="profilePicture">
            <img src="{{user.profile.picture.url}}">
            <div id="usageStats">
                <ul>
                    <li>You have {{photo_count}} photos,</li>
                    <li>{{album_count}} albums,</li>
                    <li>and {{follower_count}} followers</li>
                </ul>
            </div>
        </div>
    {% else %}
        <div id="profilePicture" style="background-image: url({% static 'imager_user/man.png' %})">
            <div id="usageStats">
                <ul>
                    <li>You have {{photo_count}} photos,</li>
                    <li>{{album_count}} albums</li>
                    <li>and {{follower_count}} followers</li>
                </ul>
            </div>
        </div>
    {% endif %}
    <div id="profileInfo">
        <h3>Profile Info</h3>
        <ul>
            {% if profileID %}
            <li id="username">Username: {{user}}<span class="privacy"></span></li>
            {% if user.first_name %}
                <li id="first_name">First Name: {{user.first_name}}<span class="privacy">{{user.profile.name_privacy}}</span></li>
            {% endif %}
            {% if user.last_name %}
                <li id="last_name">Last Name: {{user.last_name}}<span class="privacy">{{user.profile.name_privacy}}</span></li>
            {% endif %}
            <li id="email">Email: {{user.email}}<span class="privacy">{{user.profile.email_privacy}}</span></li>
            <li id="phone_number">Phone: {{user.profile.phone_number}}<span class="privacy">{{user.profile.phone_privacy}}</span></li>
            <li><a href="{% url 'profile:profile_update' profileID %}">Update Your Profile</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

