a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    margin-bottom: 3em;
    display: block;
    height: 8em;
    background-color: #2800D7;
    color: white;
}

#headerTitle {
    float: left;
    margin-left: 2%;
}

#headerTitle a {
    color: white;
}


nav {
    float: right;
    text-decoration: none;
    margin-right: 2%;
}

nav li {
    display: inline-block;
    margin-left: 1em;
}

nav li a {
    color: white;
}

#content {
    max-width: 90%;

    margin: auto
}


#coverPhoto {
    max-width: 100%;
    height: 32em;
    background-size:contain;
    background-repeat:no-repeat
}

