#profilePicture {
    width: 30%;
    margin-right: 5%;
}
#profilePicture img{
    height: 20em;
    float: left;
}

#usageStats {
    float: left;
}

#usageStats li {
    display: inline-block;
}

#profileInfo {
    width: 50%;
    float: right;
}

#profileInfo li{
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

#profileInfo .privacy {
    float: right;
}

ul {
    list-style: none;
    padding-left: 0
}
