#profilePicture {
    width: 45%;
    height: 20em;
    float: left;
    margin-right: 5%;
    background-size: contain;
    background-repeat: no-repeat;
}

#profileInfo {
    width: 50%;
    float: right;
}

#profileInfo li{
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

#profileInfo .privacy {
    float: right;
}

ul {
    list-style: none;
    padding-left: 0
}