{% extends "../../imager/templates/home.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'imager_images/css/thumbnail_grid.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'imager_images/css/lightbox.css' %}" />
<script src="{% static 'imager_images/js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'imager_images/js/lightbox.min.js' %}"></script>
{% endblock %}

{% block title %}Library: {{user}}{% endblock %}

{% block body %}
    <div id="profileInfo">
        <h3>{{user}}'s Library</h3>
        <ul id="gallery"> 
            {% if photoAll %}
                <li class="thumbnail_list">
                    {% thumbnail photoAll.image "1000x1000" as thumb %}
                        <a href="{{ thumb.url }}" data-lightbox="albumcovers" data-title="All Photos">
                        <img src="{{ thumb.url }}"></a>
                    {% endthumbnail %}
                    <a href="{% url 'images:allphotos_list'%}">All Photos</a>
                </li>
            {% endif %}
            
            {% if photoNoAlb %}
                <li class="thumbnail_list">
                    {% thumbnail photoNoAlb.image "1000x1000" as thumb %}
                        <a href="{{ thumb.url }}" data-lightbox="albumcovers" data-title="Loose Photos">
                        <img src="{{ thumb.url }}"></a>
                    {% endthumbnail %}
                    <a href="{% url 'images:loosephotos_list'%}">Loose Photos</a>
                </li>
            {% endif %}
            
            {% for album in albums %}
                <li class="thumbnail_list">
                    {% thumbnail album.cover.image "1000x1000" as thumb %}
                        <a href="{{ thumb.url }}" data-lightbox="albumcovers" data-title="{{album.description}}">
                        <img src="{{ thumb.url }}"></a>
                    {% empty %}
                        <a href="{{ default.image.url }}" data-lightbox="albumcovers" data-title="{{album.description}}">
                        <img src="{{ default.image.url }}"></a>
                    {% endthumbnail %}
                    <a href="{% url 'images:albumphoto_list' album.pk %}">{{album.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="pswpstuff">
    </div>
{% endblock %}

