{% extends "../../imager/templates/home.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'imager_images/css/library.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'imager_images/css/lightbox.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'imager_images/css/screen.css' %}" />
<script src="{% static 'imager_images/js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'imager_images/js/lightbox.min.js' %}"></script>
{% endblock %}

{% block title %}Library: {{user}}{% endblock %}

{% block body %}
    <div id="profileInfo">
        <ul id="gallery"> 
            {% for album in albums %}
                <li class="album_cover">
                    {% thumbnail album.cover.image "1000x1000" as thumb %}
                        <a href="{{ thumb.url }}" data-lightbox="albumcovers" data-title="{{album.description}}">
                        <img src="{{ thumb.url }}"></a>
                    {% empty %}
                        <img src="/static/img/imager_user/man.png">
                    {% endthumbnail %}
                    <p>{{album.title}}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="pswpstuff">
    </div>
{% endblock %}

