{% extends "../../imager/templates/home.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'imager_images/css/stream.css' %}" />
{% endblock %}

{% block title %}Stream: {{user}}{% endblock %}

{% block body %}
    <div id="profileInfo">
        <h3>Recent Photos</h3>
        <div id="photoStream"> 
            {% for photo in photos %}
                <div class="photo">
                    {% thumbnail photo.image "300x200" as thumb %}
                    <img src="{{ thumb.url }}">
                    {% endthumbnail %}
                    <div class="meta">
                        <div class="photoTitle">By {{photo.user}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}