<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Imager{% endblock %}</title>
</head>

<body>
    <h2>
        Title
    </h2>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            {% if not user.is_authenticated %}
                <li><a href="{% url 'auth_login' %}">Login</li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}?next=/">Logout</li>
            {% endif %}
            <li><a href="{% url 'registration_register' %}">Join</a></li>
        </ul>
        {% endblock %}
    </div>
    <div id="content">
        <div id="coverPhoto" style="background-image: url({{cover_photo_path}}); width: 20em; height: 20em;"></div>
        <div id="text">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
