<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'imager/style.css' %}" />
    <title>{% block title %}Imager{% endblock %}</title>
</head>

<body>
    <header>
        <h2 id="headerTitle"><a href="{% url 'home'}">Imgr</a></h2>
        <nav>
            <ul style="float:right; display: inline-block">
                <li><a href="/">Home</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                    <li><a href="{% url 'registration_register' %}">Join</a></li>
                {% else %}
                    <li><a href="{% url 'auth_logout' %}?next=/">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div id="sidebar">
    </div>
    <div id="content">
        {% block body %}
            <div id="coverPhoto" style="background-image: url({{cover_photo_path}});"></div>
            <div id="text">
                Welcome to Imgr! Sign up to share images and be awesome!
            </div>
        {% endblock %}
    </div>
</body>
</html>
